:root {
  --yellow: #f6e767;
  --white: #f6f7f8;
  --black: white;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
  place-content: center;
  min-height: 100vh;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.25rem;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

p {
  margin: 2rem 0 0;
}

h1 {
  font-size: 22px;
}

#button {
  width: 350px;
  color: var(--black);
  padding: 15px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  transition: 0.1s ease transform;
  cursor: pointer;
  background-image: url(tom_segura.png);
  height: 350px;
}


#button:active {
  transform: translatey(3px);
}

#punchline {
  font-weight: 600;
  font-size: 1.5rem;
}

#error {
  color: #ff4d51;
}
